def Button3Click(Sender): 
def Button2Click(Sender): 
def Button1Click(Sender): 
def Button24Click(Sender): 
def Button26Click(Sender): 
def Button4Click(Sender): 
def Button6Click(Sender): 
def Button7Click(Sender): 
def Button8Click(Sender): 
def Button12Click(Sender): 
def Button25Click(Sender): 
def Button14Click(Sender): 
def Button17Click(Sender): 
def Button13Click(Sender): 
def Button18Click(Sender): 
def Button15Click(Sender): 
def Button19Click(Sender): 
def Button16Click(Sender): 
def Button20Click(Sender): 
def Button21Click(Sender): 
def Button22Click(Sender): 
def Button23Click(Sender): 
def Button27Click(Sender): 